/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 13.34px helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}

table {
  font-size: inherit;
  font: 100%;
}

blockquote {
  font-style: italic;
  /* margin: 1em 3em; */
  margin: 2em 2em 2em 1em;
  border-left: 2px solid #999;
  padding-left: 0.5em;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

ul.posts span.post_date {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
} 

hr.front {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 50%;
  position: relative;
  margin: 15px auto;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: justify;
  width: 45em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 3em;
}

.site .title a {
  font-size: 130%;
  color: #a00;
  text-decoration: none;
}

.site .title a:hover {
  color: black;
}

.site .title a.extra {
  color: #aaa;
  text-decoration: none;
  margin-left: 1em;
}

.site .title a.extra:hover {
  color: black;
}

.site .title .twitter-follow-button {
  float: right;
  margin-right: -10em;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: right;
  margin-right: 1em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-left: 1em; 
  margin-top: 0em;
  float: left;
}

.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  #post ul,
  #post ol {
    margin-left: 1.35em;
  }

  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    #post pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 3em;
}

#related h2 {
  margin-bottom: 1em;
}
