body {
    font-family: 'Droid Sans Mono', arial, sans-serif;
    font-size: .9em;
    margin: auto;
    max-width: 1024px;
    min-width: 640px;
}

a {
    text-decoration: none;
    color: #0077cb;   
}

#content {
    margin-left: auto;
    margin-right: auto;
    text-align: left;   
}

#header {
    font-family: Arial;
    text-align: left;
    height: 140px;
    margin: 0px 5px;
}

#header h1 {
    font-size: 2.5em;
    margin-bottom: 5px;
}

#header a {
    text-decoration: none;
}

#header h2 {
    font-size: 1.4em;
}

#main {
    float: left;
    width: 70%;
    margin-bottom: 0px;
}

.blog_post {
}

.blog_post_header {
    clear: both;
    font-family: 'Lucida Grande', arial, sans-serif;
    border-bottom: 1px dotted;
    margin: 0px 5px;
}

.blog_post_header a {
    text-decoration: none;
}

.blog_post h1 {
    font-size: 1.5em;
    margin: 0px 5px;
}

.blog_post h3 {
    font-size: .75em;
}

.blog_prose {
    font-size: .975em;
    margin: 5px 5px 30px;
}

.blog_prose tt {
    font-size: 1.2em;
    font-family: monospace;
}

#feed-entry-summary h2 {
    font-size: 1.5em;
}

#feed-entry-summary h3 {
    font-size: 1.5em;
}

.after_post {
    font-size: .975em;
    margin: 5px 5px 30px;
}


#sidebar {
    float: right;
    width: 25%;
    text-align: left;
}

#sidebar ul {
	list-style-type: none;
	list-style-image: none;
	padding: 0;
	margin-left: 0;
	margin-bottom: 7px;
	font-size: .8em;
	display: block;
}

#sidebar h2 {
    font-size: 1em;
}

#footer {
    clear: both;
}

pre {
    margin: auto;
    padding: 5px;
    font-size: 1.2em;
    background-color: #eee;
    border-style: solid;
    border-width: 1px;
    overflow: auto;
}

#sidebar dd {
    font-style: italic;
}

.next {
    float: right;
    font-size: .8em;
    margin-bottom: 5px;
}

.prev {
    font-size: .8em;
    margin-bottom: 5px;
    float: left;
    padding-left: 10px;
}

blockquote {
    background-color: #eee;
    padding-top:25px;
    padding-bottom:10px;
    padding-right:50px;
    padding-left:50px;
    margin-bottom: 10px;
}
