<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   {% if page.title == 'Home' %}
   <title>Julian Yap</title>
   {% else %}
   <title>{{ page.title }}</title>
   {% endif %}
   <meta name="author" content="Julian Yap" />
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <link href="http://feeds.julianyap.com/julianyap" rel="alternate" title="Julian Yap" type="application/rss+xml" />
   <link rel="shortcut icon" href="/favicon.ico" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="{{ site.baseurl }}css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <!-- <link rel="stylesheet" href="{{ site.baseurl }}css/screen.css" type="text/css" media="screen, projection" /> -->
   <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}css/base.css">
   <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}css/skeleton.css">
   <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}css/layout.css">

</head>
<body>

<div class="container">
  <div class="sixteen columns title">
    <a href="{{ site.baseurl }}" title="Julian Yap: Home">Julian Yap</a>
  </div>
  
  <div class="eleven columns">
  {{ content }}
  </div>
  <div class="four columns offset-by-one">
  <h1>Pages</h1>
  <ul class="posts">
    <li><a href="{{ site.baseurl }}pages/about.html">About</a></li>
    <li><a href="{{ site.baseurl }}pages/archives.html">Archives</a></li>
    <li><a href="{{ site.baseurl }}pages/projects.html">Projects</a></li>
  </ul>
    <a href="https://twitter.com/jyap" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @jyap</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>

  <div class="sixteen columns footer">
    <div class="contact">
      <p>
        Copyright © Julian Yap 2011
      </p>
    </div>
    <div>
      <p>
      Follow Julian: <a href="http://twitter.com/jyap">Twitter</a> / <a href="https://plus.google.com/111539417571342089192/" rel="author">Google+</a> / <a href="http://feeds.julianyap.com/julianyap">RSS</a>
      </p>
    </div>
  </div>
</div>
<!-- Analytics -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://www2.julianyap.com/stats/" : "http://www2.julianyap.com/stats/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://www2.julianyap.com/stats/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>


</body>
</html>
