<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }} - Julian Yap</title>
   <meta name="author" content="Julian Yap" />
   <link href="{{ site.baseurl }}atom.xml" rel="alternate" title="Julian Yap" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="{{ site.baseurl }}css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="{{ site.baseurl }}css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>

<div class="site">
  <div class="title">
    <a href="{{ site.baseurl }}">Julian Yap</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Julian Yap<br />
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/jyap808/">github.com/jyap808</a><br />
        <a href="http://twitter.com/jyap/">twitter.com/jyap</a><br />
      </p>
    </div>
    <div class="rss">
      <a href="{{ site.baseurl }}atom.xml">
        <img src="{{ site.baseurl }}images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
</div>
<!-- Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-11631780-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<a title="Real Time Web Analytics" href="http://getclicky.com/66512607"><img alt="Real Time Web Analytics" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(66512607); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66512607ns.gif" /></p></noscript>

</body>
</html>
